body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 20px;


  
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: -1;


  
  
}

h1 {
  text-align: center;
}

.container {
  max-width: 600px;
  background: white;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 6px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #1e88e5;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}

#resultados {
  margin-top: 20px;
  background: #eef3f7;
  padding: 15px;
  border-radius: 5px;
}

.alerta {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.roja {
  background: #fdecea;
  color: #b71c1c;
}

.naranja {
  background: #fff4e5;
  color: #e65100;
}

.amarilla {
  background: #fffde7;
  color: #827717;
}

.verde {
  background: #e8f5e9;
  color: #1b5e20;
}



